.catalog {
  padding: 48px 0;

  &__title {
    margin: 0 0 8px;
    color: $black;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: center;

    @include tablet {
      font-size: 28px;
      letter-spacing: -0.84px;
    }
  }

  &__description {
    margin: 0 0 40px;
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.48px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include desktop {
      gap: 30px 10px;
    }

    @include laptop {
      gap: 24px 10px;
    }

    & .catalog-card {
      flex: 1 1 calc(100% / 4 - 30px / 4 * 3);
      max-width: calc(100% / 4 - 30px / 4 * 3);

      @include desktop {
        flex: 1 1 calc(100% / 4 - 10px / 4 * 3);
        max-width: calc(100% / 4 - 10px / 4 * 3);
      }

      @include laptop {
        flex: 1 1 calc(100% / 3 - 10px / 3 * 2);
        max-width: calc(100% / 3 - 10px / 3 * 3);
      }

      @include tablet {
        flex: 1 1 calc(100% / 2 - 10px / 2);
        max-width: calc(100% / 2 - 10px / 2);
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
  }

  &__pagination {
    margin: 40px 0 0;
  }
}
