.catalog {
  &__title {
    margin: 0 0 8px;
    color: $black;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: center;

    @include tablet {
      font-size: 28px;
      letter-spacing: -0.84px;
    }
  }

  &__description {
    margin: 0 0 40px;
    color: $black;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.48px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include tablet {
      gap: 24px 10px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 40px;
  }
}
