.main-map {
  padding: 60px 0 0;

  @include tablet {
    margin-bottom: -20px;
  }

  &_catalog {
    padding: 20px 0 80px;
  }

  & .container {
    position: relative;
    max-width: 1512px;
    padding: 0 8px;
  }

  &__map {
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    background-color: $white100;

    @include tablet {
      height: 400px;
    }

    @include mobile {
      height: 266px;
    }
  }

  &_catalog &__map {
    height: 800px;

    @include laptop {
      height: 600px;
    }

    @include tablet {
      height: 400px;
    }

    @include mobile {
      height: 266px;
    }
  }

  &__search {
    position: absolute;
    top: 16px;
    right: 24px;
    width: 400px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 13px;
    background-color: $white;
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.1);

    @include tablet {
      position: static;
      width: 100%;
      transform: translateY(-20px);
    }

    &-title {
      margin: 0 0 4px;
      color: $black;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.72px;
    }

    &-description {
      margin: 0 0 20px;
      color: $black;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.48px;
    }

    &-input {
      margin: 0 0 20px;

      & input {
        display: inline-block;
        width: 100%;
        padding: 13px 15px;
        gap: 10px;
        box-sizing: border-box;
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.48px;
        border: none;
        border-radius: 16px;
        outline-color: rgba($color: $black, $alpha: 0.05);
        background-color: $white200;
      }
    }

    &-result {
      margin: 0 0 30px;
      padding-right: 8px;
      max-height: 290px;
      overflow: auto;

      @include mobile {
        padding-right: 0;
      }

      &::-webkit-scrollbar {
        @media (min-width: 992px) {
          width: 4px;
        }
      }

      &::-webkit-scrollbar-track {
        @media (min-width: 992px) {
          border-radius: 4px;
          background: $white200;
        }
      }

      &::-webkit-scrollbar-thumb {
        @media (min-width: 992px) {
          background: rgba($color: $black, $alpha: 0.25);
        }
      }

      & .catalog-card {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 80px;
        padding-left: 96px;
        margin: 0 0 24px;

        @include mobile {
          padding-left: 90px;
        }

        &:last-child {
          margin: 0;
        }

        &::after {
          content: '';
          position: absolute;
          top: calc(100% + 11px);
          left: 0;
          right: 0;
          display: block;
          height: 1px;
          width: 100%;
          background-color: $white200;
        }

        &:last-child::after {
          display: none;
        }

        &__slider {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;

          width: 80px;
          height: 80px;

          & .swiper {
            &-button {
              &-next,
              &-prev {
                display: none;
              }
            }
          }
        }

        &__info {
          &-link {
            text-decoration: none;
          }
        }

        &__location {
          flex: 1 0 auto;
        }

        &__icons {
          @include mobile {
            gap: 8px;
          }
        }

        &__icon {
          @include mobile {
            display: flex;
            gap: 2px;
          }
        }

        &__label {
          display: none;
        }

        &__controls {
          position: absolute;
          top: 10px;
          left: 52px;
          width: max-content;
        }
      }
    }
  }

  &__advertisements {
    position: absolute;
    top: 50%;
    right: 24px;
    max-height: calc(100% - 32px);
    width: 370px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 13px;
    background-color: $white;
    box-shadow: 0px 14px 44px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);

    @include tablet {
      position: static;
      width: 100%;
      max-height: none;
      transform: translateY(-20px);
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 18px;

      &-text {
        color: $black;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.42px;
      }
    }

    &-close {
      display: inline-block;
      width: 19px;
      height: 19px;
      border: none;
      outline: none;
      background: url(../assets/icons/xmark.svg) center no-repeat;
      background-size: 13px;
      cursor: pointer;
    }

    &-result {
      max-height: 700px;
      height: 700px;
      padding-right: 8px;
      box-sizing: border-box;
      overflow-y: auto;
      overflow-x: hidden;

      @include laptop {
        max-height: 700px;
        height: 500px;
      }

      @include tablet {
        position: static;
        max-height: 420px;
        height: auto;
        box-sizing: border-box;
        overflow: auto;
      }

      @include mobile {
        max-height: 288px;
        padding-right: 0;
      }

      &::-webkit-scrollbar {
        @media (min-width: 992px) {
          width: 4px;
        }
      }

      &::-webkit-scrollbar-track {
        @media (min-width: 992px) {
          border-radius: 4px;
          background: $white200;
        }
      }

      &::-webkit-scrollbar-thumb {
        @media (min-width: 992px) {
          background: rgba($color: $black, $alpha: 0.25);
        }
      }

      & .catalog-card {
        margin: 0 0 32px;

        @include tablet {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 120px;
          margin: 0 0 24px;
          padding-left: 132px;
          padding-right: 4px;
        }

        @include mobile {
          height: 80px;
          padding-left: 92px;
        }

        &:last-child {
          margin: 0;
        }

        &::after {
          content: '';
          position: absolute;
          top: calc(100% + 16px);
          left: 0;
          right: 0;
          display: block;
          height: 1px;
          width: 100%;
          background-color: $white200;

          @include tablet {
            top: calc(100% + 12px);
          }
        }

        &:last-child::after {
          display: none;
        }

        &__slider {
          @include tablet {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 120px;
            height: 120px;
            margin: 0;
            padding: 0;
          }

          @include mobile {
            width: 80px;
            height: 80px;
          }

          & .swiper {
            &-button {
              &-next {
                right: 4px;
              }

              &-prev {
                left: 4px;
              }
            }
          }
        }

        &__controls {
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column-reverse;
          justify-content: space-between;
          height: 264px;
          padding: 16px 0;
          box-sizing: border-box;

          @include tablet {
            top: 12px;
            left: 92px;
            z-index: 5;
            display: block;
            padding: 0;
            height: fit-content;
            width: fit-content;
          }

          @include mobile {
            left: 52px;
          }
        }

        &__control_compare {
          display: none;
        }

        &__label {
          @include tablet {
            display: none;
          }
        }
      }
    }
  }
}
