.breadcrumbs {
  &__list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $black;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.42px;
    // text-decoration: underline;

    &::after {
      content: '/';
      display: inline-block;
      text-decoration: none !important;
    }

    &.active {
      color: $grey900;

      &::after {
        display: none;
      }
    }

    & a {
      color: $black;
      text-decoration: underline;
    }
  }
}
